{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <style>
        /* 自定义样式 */
        body {
            font-family: Arial, sans-serif;
            background-image: url('{% static 'img/bg2.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 10px;
            color: white;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-group .login-button-container {
            display: flex;
            justify-content: center;
        }

        .form-group .login-button {
            width: 300px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .form-group .login-button:hover {
            background-color: #45a049;
        }

        .register-link {
            display: block;
            margin-top: 10px;
            color: #888;
            text-decoration: none;
        }

        .register-link:hover {
            color: #555;
        }

        h2 {
            text-align: center;
        }
        .error-message {
            color: red;
            margin-top: 5px;
        }
    </style>

</head>
<body style="background-image: url('{% static 'img/bg2.jpg' %}');">
    <div class="container">
        <h2 style="color: white;">售电量预测系统登录</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username" style="color: white">用户名:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password" style="color: white">密码:</label>
                {{ form.password }}
            </div>
            <div class="form-group login-button-container">
                <button type="submit" class="login-button">登录</button>
            </div>
        </form>
        {% if form.non_field_errors %}
            <p class="error-message">{{ form.non_field_errors }}</p>
        {% endif %}
    </div>
</body>

</html>
